[submodule "wordpress"]
	path = wordpress
	url = git://github.com/WordPress/WordPress.git
[submodule "wrk/plugins/wordpress-seo"]
	path = wrk/plugins/wordpress-seo
	url = git://github.com/Yoast/wordpress-seo.git
[submodule "wrk/plugins/posts-to-posts"]
	path = wrk/plugins/posts-to-posts
	url = https://github.com/scribu/wp-posts-to-posts.git
[submodule "wrk/plugins/lazyload"]
	path = wrk/plugins/lazyload
	url = https://github.com/bjornjohansen/bj-lazy-load.git
